pkgbase = ollamux
	pkgdesc = Key-rotating reverse proxy for the Ollama Cloud API
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/j-stechmann/ollamux
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	checkdepends = cargo
	makedepends = cargo
	depends = glibc
	depends = gcc-libs
	provides = ollamux=0.2.0
	conflicts = ollamux-bin
	options = !lto
	source = ollamux-0.2.0.tar.gz::https://github.com/j-stechmann/ollamux/archive/v0.2.0.tar.gz
	source = ollamux.service::https://github.com/j-stechmann/ollamux/raw/v0.2.0/packaging/ollamux.service
	source = ollamux.1::https://github.com/j-stechmann/ollamux/raw/v0.2.0/packaging/ollamux.1
	sha256sums = 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
	sha256sums = 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
	sha256sums = 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef

pkgname = ollamux
