pkgbase = ollamux-bin
	pkgdesc = Key-rotating reverse proxy for the Ollama Cloud API (prebuilt binary)
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/j-stechmann/ollamux
	arch = x86_64
	license = GPL-2.0-or-later
	depends = glibc
	provides = ollamux=0.5.0
	conflicts = ollamux
	options = !strip
	source = ollamux-bin-0.5.0.tar.gz::https://github.com/j-stechmann/ollamux/releases/download/v0.5.0/ollamux-0.5.0-x86_64.tar.gz
	source = ollamux.service::https://raw.githubusercontent.com/j-stechmann/ollamux/v0.5.0/packaging/ollamux.service
	source = ollamux.1::https://raw.githubusercontent.com/j-stechmann/ollamux/v0.5.0/packaging/ollamux.1
	sha256sums = 3f92cc297f4ab37d1fa1831d00b571be87949c2734860c9fd2ad178d5342ec47
	sha256sums = a88b8011353909db0dfd5947689d840fad5e397a4cbdf4b805257b66a49dadc8
	sha256sums = 883b89299661921a301fc543d5b454ad807fb98c520ca8767305af0eb1675700

pkgname = ollamux-bin
