pkgbase = ollamux-bin
	pkgdesc = Key-rotating reverse proxy for the Ollama Cloud API (prebuilt binary)
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/j-stechmann/ollamux
	arch = x86_64
	license = GPL-2.0-or-later
	depends = glibc
	provides = ollamux=0.7.0
	conflicts = ollamux
	options = !strip
	source = ollamux-bin-0.7.0.tar.gz::https://github.com/j-stechmann/ollamux/releases/download/v0.7.0/ollamux-0.7.0-x86_64.tar.gz
	source = ollamux.service::https://raw.githubusercontent.com/j-stechmann/ollamux/v0.7.0/packaging/ollamux.service
	source = ollamux.1::https://raw.githubusercontent.com/j-stechmann/ollamux/v0.7.0/packaging/ollamux.1
	sha256sums = 38b00e59d1f99f99d79bbf048f14c54a73aa1ef730ba5ca602f1a9c83b139e25
	sha256sums = a88b8011353909db0dfd5947689d840fad5e397a4cbdf4b805257b66a49dadc8
	sha256sums = 887e22720df1a4f00a7f24e3450b7406a44dac2116e08f06111325a302aa2c26

pkgname = ollamux-bin
