pkgbase = omlx-bin
	pkgdesc = Key-rotating reverse proxy for the Ollama Cloud API (prebuilt binary)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/j-stechmann/omlx
	arch = x86_64
	license = GPL-2.0-or-later
	depends = glibc
	provides = omlx=0.1.0
	conflicts = omlx
	options = !strip
	source = omlx-bin-0.1.0.tar.gz::https://github.com/j-stechmann/omlx/releases/download/v0.1.0/omlx-0.1.0-x86_64.tar.gz
	source = omlx.service::https://raw.githubusercontent.com/j-stechmann/omlx/v0.1.0/packaging/omlx.service
	source = omlx.1::https://raw.githubusercontent.com/j-stechmann/omlx/v0.1.0/packaging/omlx.1
	sha256sums = 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
	sha256sums = 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
	sha256sums = 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef

pkgname = omlx-bin
